{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "globals": {
        "JSX": "readonly"
    },
    "overrides": [
        {
            "extends": [
                "plugin:@typescript-eslint/all",
                "plugin:react/all",
                "plugin:@next/next/recommended",
                "standard",
                "plugin:import/typescript"
            ],
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": [
                    "./tsconfig.json"
                ]
            },
            "plugins": [
                "react",
                "@typescript-eslint"
            ],
            "rules": {
                "@typescript-eslint/indent": [
                    "error",
                    2
                ],
                "@typescript-eslint/init-declarations": [
                    "error",
                    "never"
                ],
                "@typescript-eslint/member-delimiter-style": [
                    "error",
                    {
                        "multiline": {
                            "delimiter": "none"
                        }
                    }
                ],
                "@typescript-eslint/member-ordering": "off",
                "@typescript-eslint/naming-convention": [
                    "error",
                    {
                        "format": [
                            "camelCase",
                            "PascalCase",
                            "UPPER_CASE"
                        ],
                        "leadingUnderscore": "allow",
                        "selector": "variable"
                    }
                ],
                "@typescript-eslint/no-extra-parens": "off",
                "@typescript-eslint/no-magic-numbers": [
                    "error",
                    {
                        "ignoreNumericLiteralTypes": true
                    }
                ],
                "@typescript-eslint/no-use-before-define": "off",
                "@typescript-eslint/object-curly-spacing": [
                    "error",
                    "always"
                ],
                "@typescript-eslint/prefer-readonly-parameter-types": [
                    "error",
                    {
                        "ignoreInferredTypes": true,
                        "treatMethodsAsReadonly": false
                    }
                ],
                "@typescript-eslint/semi": [
                    "error",
                    "never"
                ],
                "@typescript-eslint/strict-boolean-expressions": [
                    "error",
                    {
                        "allowNullableBoolean": true
                    }
                ],
                "@typescript-eslint/unbound-method": "off",
                "import/order": [
                    "error",
                    {
                        "alphabetize": {
                            "caseInsensitive": true,
                            "order": "asc"
                        },
                        "groups": [
                            "builtin",
                            "external",
                            "internal",
                            "parent",
                            "sibling",
                            "index"
                        ],
                        "newlines-between": "always",
                        "pathGroups": [
                            {
                                "group": "external",
                                "pattern": "react",
                                "position": "before"
                            },
                            {
                                "group": "internal",
                                "pattern": "@/components/**",
                                "position": "before"
                            },
                            {
                                "group": "internal",
                                "pattern": "@/configurations/**",
                                "position": "before"
                            },
                            {
                                "group": "internal",
                                "pattern": "@/models/**",
                                "position": "before"
                            }
                        ],
                        "pathGroupsExcludedImportTypes": [
                            "react"
                        ]
                    }
                ],  
                "no-extra-parens": "off",
                "no-use-before-define": "off",
                "quotes": [
                    "error",
                    "double"
                ],
                "react/jsx-filename-extension": [
                    "error",
                    {
                        "extensions": [
                            ".ts",
                            ".tsx"
                        ]
                    }
                ],
                "react/jsx-indent": [
                    "error",
                    2
                ],
                "react/jsx-indent-props": [
                    "error",
                    2
                ],
                "react/jsx-max-depth": [
                    "error",
                    {
                        "max": 3
                    }
                ],
                "react/jsx-no-bind": "off",
                "react/jsx-no-literals": "off",
                "react/no-set-state": "off",
                "react/prefer-stateless-function": "off",
                "semi": [
                    "error",
                    "never"
                ],
                "sort-keys": [
                    "warn", // error
                    "asc",
                    {
                        "caseSensitive": true,
                        "minKeys": 2,
                        "natural": false
                    }
                ]
            }
        },
        {
            "extends": [
                "plugin:jsonc/recommended-with-jsonc"
            ],
            "files": [
                "*.json",
                ".eslintrc",
                ".stylelintrc"
            ],
            "parser": "jsonc-eslint-parser",
            "rules": {
                "jsonc/array-bracket-newline": [
                    "error",
                    {
                        "minItems": 0,
                        "multiline": true
                    }
                ],
                "jsonc/array-element-newline": [
                    "error",
                    "always"
                ],
                "jsonc/comma-dangle": "error",
                "jsonc/indent": [
                    "error",
                    4,
                    {}
                ],
                "jsonc/key-spacing": [
                    "error",
                    {
                        "afterColon": true,
                        "beforeColon": false,
                        "mode": "strict"
                    }
                ],
                "jsonc/object-curly-newline": [
                    "error",
                    {
                        "consistent": true,
                        "minProperties": 0,
                        "multiline": true
                    }
                ],
                "jsonc/object-property-newline": "error",
                "jsonc/sort-array-values": [
                    "error",
                    { 
                        "order": {
                            "type": "asc"
                        },
                        "pathPattern": "^files$"
                    }
                ],
                "jsonc/sort-keys": "error",
                "no-multiple-empty-lines": [
                    "error",
                    {
                        "max": 0,
                        "maxEOF": 1 
                    }
                ]
            }
        },
        {
            "extends": [
                "eslint:all",
                "plugin:yml/standard"
            ],
            "files": [
                "*changelog.yaml"
            ],
            "rules": {
                "linebreak-style": "off",
                "yml/key-spacing": "error",
                "yml/sort-keys": [
                    "error",
                    {
                        "order": [
                            "version",
                            "date",
                            "contents",
                            "added",
                            "changed",
                            "deprecated",
                            "removed",
                            "fixed",
                            "security"
                        ],
                        "pathPattern": ".*"
                    }
                ]
            }
        }
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "no-extra-parens": "off",
        "no-use-before-define": "off",
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "never"
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
