.stageInfoRow {
  display: flex;

  & > span {
    display: inline-block;
    padding: 0.75em;
  }
}

.unlock-condition-row {
  display: block;
  margin-bottom: 0.75em;

  &:last-child {
    margin-bottom: 0;
  }
}

%mission_star {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
}

.mission-star {
  @extend %mission_star;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %2300B3FD' viewBox='0 0 128 128'%3E%3Cpath d='M64,15,20.7,40V90L64,115l43.3-25V40ZM53.34,40.54,60,36.69V29a4,4,0,0,1,8,0v7.69l6.66,3.85a4,4,0,0,1-4,6.92L64,43.62l-6.66,3.84a4,4,0,1,1-4-6.92Zm21.32,25a4,4,0,1,1-4,6.92L64,68.62l-6.66,3.84a4,4,0,1,1-4-6.92L60,61.69V54a4,4,0,0,1,8,0v7.69ZM31.69,53l6.66-3.85V41.5a4,4,0,0,1,8,0v7.69L53,53A4,4,0,0,1,49,60l-6.66-3.84L35.69,60a4,4,0,1,1-4-6.92ZM49,85l-6.66-3.84L35.69,85a4,4,0,1,1-4-6.92l6.66-3.85V66.5a4,4,0,0,1,8,0v7.69L53,78A4,4,0,0,1,49,85ZM76.12,96a4,4,0,0,1-5.46,1.46L64,93.62l-6.66,3.84a4,4,0,1,1-4-6.92L60,86.69V79a4,4,0,0,1,8,0v7.69l6.66,3.85A4,4,0,0,1,76.12,96ZM97.77,83.5A4,4,0,0,1,92.31,85l-6.66-3.84L79,85A4,4,0,1,1,75,78l6.66-3.85V66.5a4,4,0,0,1,8,0v7.69L96.31,78A4,4,0,0,1,97.77,83.5Zm0-25A4,4,0,0,1,92.31,60l-6.66-3.84L79,60A4,4,0,0,1,75,53l6.66-3.85V41.5a4,4,0,0,1,8,0v7.69L96.31,53A4,4,0,0,1,97.77,58.5Z'/%3E%3C/svg%3E%0A");
}

.mission-star-grey {
  @extend %mission_star;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23BDBDBD' viewBox='0 0 128 128'%3E%3Cpath d='M64,15,20.7,40V90L64,115l43.3-25V40ZM53.34,40.54,60,36.69V29a4,4,0,0,1,8,0v7.69l6.66,3.85a4,4,0,0,1-4,6.92L64,43.62l-6.66,3.84a4,4,0,1,1-4-6.92Zm21.32,25a4,4,0,1,1-4,6.92L64,68.62l-6.66,3.84a4,4,0,1,1-4-6.92L60,61.69V54a4,4,0,0,1,8,0v7.69ZM31.69,53l6.66-3.85V41.5a4,4,0,0,1,8,0v7.69L53,53A4,4,0,0,1,49,60l-6.66-3.84L35.69,60a4,4,0,1,1-4-6.92ZM49,85l-6.66-3.84L35.69,85a4,4,0,1,1-4-6.92l6.66-3.85V66.5a4,4,0,0,1,8,0v7.69L53,78A4,4,0,0,1,49,85ZM76.12,96a4,4,0,0,1-5.46,1.46L64,93.62l-6.66,3.84a4,4,0,1,1-4-6.92L60,86.69V79a4,4,0,0,1,8,0v7.69l6.66,3.85A4,4,0,0,1,76.12,96ZM97.77,83.5A4,4,0,0,1,92.31,85l-6.66-3.84L79,85A4,4,0,1,1,75,78l6.66-3.85V66.5a4,4,0,0,1,8,0v7.69L96.31,78A4,4,0,0,1,97.77,83.5Zm0-25A4,4,0,0,1,92.31,60l-6.66-3.84L79,60A4,4,0,0,1,75,53l6.66-3.85V41.5a4,4,0,0,1,8,0v7.69L96.31,53A4,4,0,0,1,97.77,58.5Z'/%3E%3C/svg%3E%0A");
}

.stage-dropInfo-row-rewards-row {
  display: flex;
  width: fit-content;
  margin: 2em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 10px;
  }
}

.stage-dropInfo-row-rewards-row-info {
  min-width: 4em;
  margin-top: calc((4rem - 1.7em) / 2);
  margin-right: 1em;
  margin-bottom: auto;
  margin-left: 0.5em;
  padding: 0.35em;
  border-radius: 0.5em;
  background: #404040;
  color: white;
  line-height: 1;
}

.stage-dropInfo-row-rewards-row-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  max-width: calc(20rem + 4rem); // five times per row at maximum
  column-gap: 0.75rem;
}
