.map_scene_container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16/9;
}

.map_scene_tiles {
  display: flex;
  flex-wrap: wrap-reverse;
  width: min(95%, 95% * 9 / 16 * var(--map-scene-tiles-width) / var(--map-scene-tiles-height));
  margin: auto auto;
}
