.h1-title {
  margin: 0.5em 0;
  font-family: "Roboto Mono", monospace;
}

.h1-title-badge {
  display: inline-block;
  vertical-align: super;
  margin-left: 1em;
  padding: 0.35em 0.45em;
  border-radius: 0.25rem;
  background-color: #ff8f00;
  color: #fff;
  font-weight: 700;
  font-size: 0.35em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}
