.h1-title {
  margin: 0.5em 0;
  font-family: "Roboto Mono", monospace;
}

.h1-title-badge {
  display: inline-block;
  vertical-align: super;
  margin-left: 1em;
  padding: 0.35em 0.45em;
  border-radius: 0.25rem;
  background-color: #ff8f00;
  color: #fff;
  font-weight: 700;
  font-size: 0.35em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

.h1-four-star-badge {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0.5em;
  padding: calc(1em / 3) 0.45em;
  border-radius: 0.25rem;
  background-color: #c4001d;
  color: #fff;
  font-weight: 700;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

.h1-easy-badge {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0.5em;
  padding: calc(1em / 3) 0.45em;
  border-radius: 0.25rem;
  background-color: #0095d6;
  color: #fff;
  font-weight: 700;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}
