@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/badge";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.h1_title {
    font-family: "Roboto Mono", monospace;
    margin: 0.5em 0em;
}

.h1_title_badge {
    @extend .badge;
    vertical-align: super;
    font-size: 0.35em;
    margin-left: 1em;
    padding: 0.35em 0.45em;
    background-color: #ff8f00;
}
