/* stylelint-disable scss/at-extend-no-missing-placeholder */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/utilities";

.navbar_theresa {
  @extend .navbar;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-image: linear-gradient(to right, #4da9f5, #afdbff);
  box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
}

.main_container {
  @extend .container-lg;

  width: auto;
  // Header height 2rem + 16px
  // main container padding-bottom 1rem
  // Footer min height 10rem
  min-height: calc(100vh - 2rem - 16px - 10rem - 1rem);
  padding-bottom: 1rem;
  opacity: 1;
}

.main_container_fadeout {
  @extend .main_container;

  opacity: 0.25;
  cursor: wait;
  user-select: "none";
  transition: "opacity 2s linear";

  & a {
    cursor: wait;
  }
}

.page-content {
  overflow: auto;
  width: auto;
  height: calc(100vh - 3rem);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #12354216;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #12354264;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #12354296;
  }
}

.placebo {
  @extend .progress;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 0.25rem;
  background-color: transparent;
}

.placebo_bar {
  @extend .progress-bar;

  z-index: 1040;
  background-color: #ff8f00;
  transition: "width 1.2s ease";
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  background-color: #18191a;
  text-align: center;
}

.footer_links {
  display: flex;
  flex-direction: column;
  margin: auto;

  span {
    margin: 0.2em auto;
    color: #d2dbd9;
    text-decoration: none;
    transition: color 500ms ease;

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

.version {
  margin-bottom: 1em;
  color: #d2dbd9;
  font-size: x-small;
  // TODO: remove Roboto Mono font depends, use arknights font
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
