.description {
  display: flex; 
  font-size: 0.87em;
  white-space: pre-line;
}

.description-content {
  margin-left: 2em;
  padding: 0.5em 1em;
  border-radius: 0.75em;
  color: #A9A9A9;
  background: #2F2F2F
}